.Form-container{
    margin: auto;
    width: 40vw;
    min-width: 700px;
    height: 80vh;
    background-color: snow;
    border-radius: 15px;
    padding: 15px;
}

.Form-gridbox{
    display: grid;
    margin-top: 30px;
    width: 100%;
    row-gap: 13px;
    grid-template-columns: 1fr 3fr;
}

form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 8px;
    height: auto;
}
