@import '../variables.css';

.Client-list-header,
.Employee {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 5px 1rem;
}


.Client-list-header {
    margin-bottom: 8px;
    height: 5ch;
    background-color: white;
    border-bottom: 2px solid var(--darkgrey);
}


.Client {
    background-color: var(--whitegrey);
    border-bottom: var(--table-border) solid var(--darkgrey);
}

.Client:hover {
    background-color: var(--whitegrey);
}

.Client p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.Client-panel {
    width: 80vw;
    padding-top: 2vw;
    margin-left: 10vw;
}

.Client-panel-container {
    display: grid;
}


.Client-list {
    margin-top: 20px;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0 0 6px #8F8F8F;
}


.Client-list-items {
    display: flex;
    flex-direction: column;
    background-color: var(--whitegrey);
}


.Client-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 5px 5px 5px 15px;
    border-top: 1px solid var(--darkgrey);
}

.Client-details-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 5px;
}


.Client-wrapper {
    background-color: white;
    margin-bottom: 3px;
    margin-top: 3px;
    border: transparent;
}

.Client-wrapper.active {
    border-left: 3px solid var(--darkgrey);
}
