.Search-top-bar {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-input {
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    flex-grow: 1;
    min-width: 200px;
    max-width: 800px;
}

.filters-toggle-btn {
    padding: 10px 50px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filters-content {
    margin-top: 10px;
}
