* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Standard-btn{
  background-color: var(--arslightblue);
  border: none;
  color: white;
  padding: 6px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: calc(6px + 1vmin);
}

.Standard-btn:hover{
  background-color: var(--darkgrey);
}

.Header-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--arsdeepblue);
  color: white;
  width: 100%;
  height: fit-content;
  align-self: flex-start;
  padding: 6px;
}

.Header-button{
  background-color: transparent;
  border: none;
  color: white;
  height: auto;
  margin-left: 5px;
  padding: 5px;
  font-size: calc(8px + 1vmin);
}

.Header-button:hover{
  background-color: var(--arslightblue);
}

.Header-button:active{
  background-color: lightsteelblue;
  color: #2f6287;
}

.User-info-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 100%;
  border: 1px solid white;
  background-color: var(--arsmidblue);
  border-radius: 5px;
  padding: 3px;
  margin-left: auto;
}

.User-info-bar img{
  max-height: 45px;
  border-radius: inherit;
}

.User-info-bar div{
  margin-left: 10px;
}

.Navigation-bar{
  display: flex;
  flex-direction: row;
  background-color: var(--whitegrey);
  border-bottom: solid 2px var(--arsgreen);
  box-shadow: 0 0 10px 0 #8F8F8F;
  padding-left: 13%;
}

.Navigation-button{
  background-color: transparent;
  border: none;
  color: var(--darkgrey);
  height: auto;
  margin-left: 10px;
  padding: 5px;
  font-size: calc(8px + 1vmin);
}

.Navigation-button:hover{
  background-color: var(--darkgrey);
  color: white;
}

.Navigation-button.active{
  background-color: var(--arsgreen);
  color: white;
}

.Cancel-button{
  background-color: indianred;
  border: brown solid 2px;
  border-radius: 5px;
  color: white;
  height: 4ch;
  padding-right: 7px;
  padding-left: 7px;
  font-size: calc(6px + 1vmin);
}

.Cancel-button:hover{
  background-color: brown;
}

.Apply-button{
  background-color: steelblue;
  border: #2f6287 solid 2px;
  border-radius: 5px;
  color: white;
  height: 4ch;
  padding-right: 7px;
  padding-left: 7px;
  font-size: calc(6px + 1vmin);
}

.Apply-button:hover{
  background-color: #2f6287;
}

.Overlay{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
  cursor: pointer;
}

.List-top-bar{
  border-bottom: solid 1px gray;
  padding: 5px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 8px;
}

.arrow.right {
  transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
}

.Filters{
  display: grid;
  grid-column: span 2;
  gap: 3px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}