:root {
    /*Kolory*/
    /*jak chcecie łączyć jakieś dwa kolory (napis+tło) to sprawdzajcie*/
    /*https://webaim.org/resources/contrastchecker/*/
    --arsdeepblue: #003264;
    --arsmidblue: #00498e;
    --arslightblue: #0057AD;
    --arsgreen: #4EB039;
    --lightgreen: #59B446;
    --lightgrey: #8F8F8F;
    --lightlightgrey: #c4c4c4;
    --whitegrey: #e3e3e3;
    --darkgrey: #444444;
    --fadedred: #c84f4f;

    --table-border: 1px;
}